
h1 {
  font-size: 60px;
}

.navbar {
  flex-wrap: wrap;
  background: darkolivegreen;
  /*using a google font and sans-serif is a fall back if kanit is not working*/
  font-family: Kanit, sans-serif ;
}