
:root {
  --mustard:#797241d7;
  --dk-green:#556b2f;
  --grey: #808080;
}

/* ::after, ::before {
  box-sizing: boarder-box;
} */

body {
  background-color: var(--mustard);
}

h1 {
  font-size: 85px;
  background: var(--grey);
  margin: 50px 0
}

label {
  font-size: 30px;
}

input {
  font-size: 30px;
  border-radius: 10px;
}

button {
  font-size: 25px;
  border-radius: 5px;
}
}

.navbar {
  flex-wrap: wrap;
  
  /*using a google font and sans-serif is a fall back if kanit is not working*/
  font-family: Kanit, sans-serif ;
}

